<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add a recipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add your favourite recipe</ion-card-title>
      <ion-card-subtitle>Add ingredients and instructions</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Enter the recipe name, ingredients and quantities and cooking instructions below.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Recipe Name</ion-label>
      <ion-input [(ngModel)]="recipe_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredients and quantities
        meat, etc..</ion-label>
      <ion-input [(ngModel)]="recipe_ingredients"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Steps</ion-label>
      <ion-input [(ngModel)]="recipe_instructions"></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="handleChange()">Add Recipe</ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Got bored of your old recipes</ion-card-title>
        <ion-card-subtitle>Use the button below to delete them</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="clearRecipes()">Clear All</ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <p class="alert">{{this.alert}}</p>
    <p class="confirm">{{this.confirm}}</p>
  </ion-list>

</ion-content>